div.cuadrado{
    display: flex;
    background-color: cornflowerblue;
height: 200px;
width: auto;
margin: 20%;
}

div.circulo{
    background-color: rgb(0, 0, 0);
height: 25px;
width: 25px;
border-radius: 50%;
}


div.circulo{
align-items: flex-end;}



